* {
  padding: 0;
}
body {
  font-family: "Times New Roman", Times, serif;
}

.inline-text-one-contact-page {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  padding: 15px;
  background-color: blue;
}

.inline-text-one-contact-page:hover {
  background-color: orange;
}

.inline-text-two-contact-page {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  padding: 15px;
  background-color: orange;
}

img {
  border-radius: 50%;
  width: 10%;
  position: relative;
  left: 45%;
  margin-top: 5%;
}
